* {
  font-family: 'Lato', sans-serif;
  min-width: 1000px;
}

h1 {
  text-align: center;
  margin: 30px 5px 10px;
  font-size: 36px;
}

h2 {
  text-align: left;
  font-size: 24px;
}

input {
  margin-bottom: 20px;
}

button {
  background-color: red;
  border: none;
  padding: 20px;
  font-size: 24px;
  font-weight: 600px;
}
